<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy App</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
</head>
<body>

    <form action="/result-api_form">
        <p> Result for API </p>

        Size value is - {{ size_value }}
        
        <br>
        
        Income is - {{ income }}
    </form>
    
</body>
</html>